<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>tetrabyte</title>
        <base href="http://www.tetrabyte.io/" />
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <header>
            tetrabyte.io
        </header>
        <nav class="content">
            <a href="">home</a> |
            <a href="about.html">about</a>
        </nav>
        <main>
            
        </main>
        <footer class="content">
        </footer>
    </body>
</html>
